*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 30px;
}
tr{
  font-size: 1.3rem;
  text-align: center;
}